SUPABASE_URL=https://fqzwjrxouyijcxsxqiqo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key
RESEND_API_KEY=re_xxxxxxxxx
REPORT_FROM_EMAIL=EscalaMargen <reportes@escalamargen.com>
REPORT_REPLY_TO_EMAIL=saocampoe@unal.edu.co
SITE_URL=https://escalamargen.com
ALLOWED_ORIGINS=https://escalamargen.com,https://www.escalamargen.com
REPORT_DUPLICATE_WINDOW_SECONDS=90
SHOPIFY_AFFILIATE_URL=https://shopify.pxf.io/MKKPRN
HOTMART_TEMPLATE_URL=https://hotm.io/plantillaescalamargen
